.tx{
  color: aliceblue;
}
.inc{
  margin-right: 5px;
}
.dic{
  margin-left: 5px; 
}
.cn{
  margin-left: 140px;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.container{
  display: flex;
  justify-content: center;
}
.ao{
  /* background-color: blueviolet; */
  width: 900px;   
}
.fdv{
  /* background-color: aqua; */
  display: inline-block;
  margin: 19px;  
  border: 1px rgb(238, 238, 237) double;
  border-radius: 3px;
  transition: transform 0.3s ease;
}
.fdv:hover{
  transform: scale(1.1);
}
.sdv{
  background-color: black;
  text-align: center;
  font-size: 15px;
  width: 166px;
  padding: 1px;
}
.container2{
    width: 1000px;
    justify-content: center;
}
.obj{
  display: inline-block;
  border: 2px solid white;
  padding: 5px;
  margin: 15px;
  transition: transform 0.3s ease;
}
.obj:hover{
  transform: scale(0.9);
}
.img{
  display: inline-block;
  border: 2px solid rgb(0, 255, 157);
}
.btn{
  margin: 20px;
}
.mm{
  transition: transform 0.3s ease;
}
.mm:hover{
  transform: scale(1.1);
  background-color: black;
  color: white;
  border:2px white solid;
}
